/*BUTTON*/

.action-button:hover,
.action-button:active,
.action-button:checked {
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

.action-button:disabled {
    color: @disabled_fg_color;
    background-color: @disabled_bg_color;
    opacity: 0.6;
}
