/*NAGATO COLORS*/
@define-color nagato_theme_bg_color #FFFFFF;
@define-color nagato_theme_fg_color #000000;
@define-color nagato_primary_bg_color /*NAGATO_PRIMARY_BG_COLOR*/;
@define-color nagato_primary_fg_color /*NAGATO_PRIMARY_FG_COLOR*/;
@define-color nagato_secondary_bg_color /*NAGATO_SECONDARY_BG_COLOR*/;
@define-color nagato_secondary_fg_color /*NAGATO_SECONDARY_FG_COLOR*/;
@define-color nagato_highlight_bg_color /*NAGATO_HIGHLIGHT_BG_COLOR*/;
@define-color nagato_highlight_fg_color /*NAGATO_HIGHLIGHT_FG_COLOR*/;
@define-color nagato_warning_bg_color #FF8300;
@define-color nagato_warning_fg_color #000000;

/* Normal colors */
@define-color bg_color #F8F8F8;
@define-color fg_color #000000;
@define-color base_color @nagato_theme_bg_color;
@define-color text_color @nagato_theme_fg_color;
@define-color selected_bg_color @nagato_highlight_bg_color;
@define-color selected_fg_color @nagato_highlight_fg_color;
@define-color disabled_bg_color shade(@bg_color, 0.95);
@define-color disabled_fg_color shade(@bg_color, 0.5);

/* Backdrop state colors */
@define-color unfocused_bg_color @bg_color;
@define-color unfocused_fg_color @fg_color;
@define-color unfocused_base_color @base_color;
@define-color unfocused_text_color @text_color;
@define-color unfocused_selected_bg_color @selected_bg_color;
@define-color unfocused_selected_fg_color @selected_fg_color;
@define-color unfocused_disabled_bg_color shade(@bg_color, 0.98);
@define-color unfocused_disabled_fg_color shade(@bg_color, 0.75);

/* Darker color scheme */
@define-color dark_bg_color #003C6A;
@define-color dark_fg_color #FFFFFF;

/* Theme colors */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_disabled_bg_color @disabled_bg_color;
@define-color theme_disabled_fg_color @disabled_fg_color;

/* Unfocused color scheme */
@define-color theme_unfocused_bg_color @unfocused_bg_color;
@define-color theme_unfocused_fg_color @unfocused_fg_color;
@define-color theme_unfocused_base_color @unfocused_base_color;
@define-color theme_unfocused_text_color @unfocused_text_color;
@define-color theme_unfocused_selected_bg_color @unfocused_selected_bg_color;
@define-color theme_unfocused_selected_fg_color @unfocused_selected_fg_color;
@define-color theme_unfocused_disabled_bg_color @unfocused_disabled_bg_color;
@define-color theme_unfocused_disabled_fg_color @unfocused_disabled_fg_color;

/* Shadows */
@define-color dark_shadow rgb(0, 0, 0);
@define-color color_shadow @selected_bg_color;
@define-color light_shadow rgb(255, 255, 255);

/* Borders */
@define-color borders shade(@bg_color, 0.95);
@define-color outline_color shade(@bg_color, 0.75);
@define-color unfocused_borders shade(@unfocused_bg_color, 0.95);

/* Notification header backgrounds */
@define-color info_fg_color #FFFFFF;
@define-color info_bg_color MediumSlateBlue;
@define-color warning_fg_color #FFFFFF;
@define-color warning_bg_color #FF8300;
@define-color question_fg_color #FFFFFF;
@define-color question_bg_color #2C2C2C;
@define-color error_fg_color #FFFFFF;
@define-color error_bg_color #FF007F;

@define-color link_color #009988;
@define-color error_color #CC0000;
@define-color success_color #00FF00;
@define-color warning_color #FF9900;

/* Widgets theming */
@import url("/usr/share/libnagato4/data/gtk-widgets.css");
@import url("/usr/share/libnagato4/data/dialog.css");

/*NOTEBOOK*/

notebook > header > tabs > tab:checked {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-image: None;
    border: None;
}

window,
dialog {
    background-repeat: repeat;
    background-position: center;
    background-image: url("images/wallpaper.jpg");
    /*NAGATO_WINDOW_BACKGROUND_IMAGE*/
}

textview {
    /*NAGATO_EDITOR_FONT*/
}

.main-grid {
    /*NAGATO_WINDOW_OPACITY*/
}

/*POPOVER*/

popover {
    /*NAGATO_HEADER_OPACITY*/
}

.popover-separator.horizontal {
    background-color: alpha(@nagato_primary_fg_color, 0.5);
}

.popover-button.flat {
    /*color: @nagato_theme_bg_color;*/
    color: @nagato_primary_fg_color;
    background-color: Transparent;
    border: None;
	border-color: Transparent;
    background-image: None;
}

.popover-spin-button.horizontal * {
    color: @nagato_primary_fg_color;
    background-color: @nagato_primary_bg_color;
}

.nagato-headerbar {
    color: @nagato_primary_fg_color;
    background-color: @nagato_primary_bg_color;
    /*NAGATO_HEADER_OPACITY*/
}

.content-area {
    /*NAGATO_HEADER_OPACITY*/
}

.toolbar {
    opacity: 1;
    color: @nagato_theme_fg_color;
    background-color: @nagato_theme_bg_color;
}

/*NAGATO_FILES_ONLY*/

iconview {
    background-color: alpha(@nagato_secondary_bg_color, 0.2);
}

iconview.view.cell {
    background-color: Transparent;
    border: none;
}

.toolbar-button {
    opacity: 0.8;
    border: None;
    border-width: 0em;
    border-radius: 0em;
    background-image: None;
}

.toolbar-button:hover {
    color: @nagato_highlight_fg_color;
    background-color: @nagato_highlight_bg_color;
}

.bookmark-treeview {
    color: @nagato_secondary_fg_color;
    background-color: @nagato_secondary_bg_color;
    /*NAGATO_WINDOW_OPACITY*/
}

.bookmark-treeview:hover {
    color: @nagato_highlight_fg_color;
    background-color: @nagato_highlight_bg_color;
}

.config-box-odd {
    color: Black;
    background-color: White;
    /*NAGATO_WINDOW_OPACITY*/
}

.config-box-even {
    color: Black;
    background-color: LightGrey;
    /*NAGATO_WINDOW_OPACITY*/
}
