/*WARNING*/

.dialog-warning {
    color: @warning_fg_color;
    background-color: @warning_bg_color;
    opacity : 0.7;
}

.button-warning.flat {
    color: @warning_fg_color;
    background-color: @warning_bg_color;
    opacity: 1;
}

.button-normal-on-warning {
    color: @warning_bg_color;
    background-color: @warning_fg_color;
    opacity: 0.8;
}

/*DIALOG_ERROR*/

.dialog-error {
    color: @error_fg_color;
    background-color: @error_bg_color;
    opacity: 0.8;
}

.button-error.flat {
    color: @error_fg_color;
    background-color: @error_bg_color;
    opacity: 1;
}

/*DIALOG_INFO*/

.dialog-info {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity : 0.8;
}

.dialog-label-about {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity : 0.8;
}

.button-safe.flat {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity: 1;
}

.chooser-header {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity: 0.8;
}

