* {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkScrolledwindow-scrollbar-spacing: 0;
    -GtkScrolledwindow-scrollbars-within-bevel: 1;
    -GtkTextView-error-underline-color: @error_color;
    -GtkWidget-text-handle-width: 20;
    -GtkWidget-text-handle-height: 20;
    -GtkTreeview-expander-size: 8;

    background-clip: padding-box;
    outline-width: 1px;
    outline-offset: -3px;
    outline-style: dashed;
    outline-color: @outline_color;
    -gtk-outline-radius: 2px;
}

/* base states */
.background {
    color: @theme_fg_color;
    background-color: alpha(@theme_bg_color, 0.999);
}

.background:backdrop {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_bg_color;
}

/* Image effects */
*:disabled {
    -gtk-icon-effect: dim;
}

*:hover {
    -gtk-icon-effect: highlight;
}

.gtkstyle-fallback {
    color: @theme_fg_color;
    background-color: @theme_bg_color; }

.gtkstyle-fallback:hover {
    color: @theme_fg_color;
    background-color: shade(@theme_bg_color, 1.1); }

.gtkstyle-fallback:active {
    color: @theme_fg_color;
    background-color: shade(@theme_bg_color, 0.9); }

.gtkstyle-fallback:disabled {
    color: @theme_disabled_fg_color;
    background-color: @theme_disabled_bg_color; }

.gtkstyle-fallback:selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }

image, image:disabled, label, label:disabled, box, box:disabled {
    background-color: transparent; }

/* labels */
label selection {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color; }

label.separator {
    color: @borders; }

label.separator:backdrop {
    color: @unfocused_borders; }

.dim-label,
label.separator,
popover label.separator,
popover.background label.separator {
    opacity: 0.55;
}

/* transitions */
button {
    transition: border 100ms ease-in-out; }

entry {
    transition: border 100ms ease-out; }

entry:focus {
    transition: border 100ms ease-in; }

notebook tab label,
notebook .prelight-page,
notebook .prelight-page label,
notebook .active-page,
notebook .active-page label {
    transition: all 200ms ease-in;
}

switch slider {
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: background, border, box-shadow;
}

switch:backdrop slider {
    transition: 200ms ease-out;
}

scrollbar {
    transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

scrollbar:backdrop {
    transition: 200ms ease-out; }

scrollbar slider {
    transition: 200ms ease-out; }

/*BUTTON*/

button.flat,
button.flat:backdrop {
    padding: 3px 8px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: @base_color;
    opacity: 0.8;
    color: @text_color;
    background-color: @base_color;
}

button.flat:hover,
button.flat:active,
button.flat:checked {
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

button.flat:disabled {
    color: @disabled_fg_color;
    background-color: @disabled_bg_color;
    opacity: 0.6;
}

/* row */
row:selected,
row:selected:hover,
row:selected:focus {
    border: none;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

/* entry */
entry {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: @borders;
    border-radius: 3px;
    color: @theme_text_color;
    caret-color: currentColor;
    background-color: @theme_base_color;
}

entry:active, entry:focus {
    border-color: @theme_selected_bg_color;
}

entry:selected,
entry:selected:focus,
entry selection,
entry selection:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

entry:disabled {
    color: @theme_disabled_text_color;
    background-color: @theme_disabled_base_color;
}

entry:disabled:backdrop {
    color: @theme_unfocused_disabled_fg_color;
    background-color: shade(@theme_unfocused_disabled_bg_color, 0.95);
}

entry:backdrop {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_base_color;
}

entry image left {
    padding-right: 4px;
}

entry progress {
    margin: -4px -4px;
    border-width: 0 0 2px;
    border-radius: 0;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    background-color: transparent;
}

entry.flat, entry.flat:focus {
    padding: 3px;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

entry.search {
    border-radius: 40px;
}

/* list boxes */
list {
    color: @theme_fg_color;
    background-color: @theme_base_color; }

list row {
    padding: 2px; }

list row:hover {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1); }

list row:selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }

list row:selected:disabled {
    color: red;
    background-color: @theme_selected_bg_color; }

/* iconview */
iconview:selected,
iconview:selected:focus,
iconview text:selected,
iconview text selection,
iconview text:selected:focus,
iconview text selection:focus {
    border-width: 1px;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

iconview:selected:backdrop,
iconview selection:backdrop,
iconview text:selected:backdrop,
iconview text selection:backdrop {
    color: @theme_unfocused_selected_fg_color;
    background-color: @theme_unfocused_selected_bg_color;
}

rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.rubberband,
view rubberband,
.view.rubberband,
.rubberband {
    border-width: 1px;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    background: none;
    background-color: alpha(@theme_selected_bg_color, 0.3);
}

/* flowbox */
flowbox flowboxchild {
    padding: 3px;
    border-radius: 2px;
}

flowbox flowboxchild:selected {
    outline-offset: -2px;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

/* symbolic images (icons) */
image {
    color: alpha(currentColor, 0.75); }

image:hover {
    color: alpha(currentColor, 0.9); }

image:selected, image:selected:hover {
    color: @theme_selected_fg_color; }


/* miscellaneous */
.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: @borders; }

arrow, combobox arrow {
    color: alpha(currentColor, 0.75);
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    min-height: 16px;
    min-width: 16px; }

.monospace {
    font-family: Monospace;
}

/* popovers */
popover,
popover.background {
    padding: 2px;
    border-color: @borders;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: @nagato_primary_fg_color;
    background-clip: border-box;
    background-color: @nagato_primary_bg_color;
    box-shadow: 0 2px 3px 1px alpha(@dark_shadow, 0.25);
}

popover,
popover.background {
    border: 1px solid #cdd2d7;
}

popover.osd {
    box-shadow: 0 2px 7px 3px alpha(@dark_shadow, 0.5);
}

popover.osd > toolbar button {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
}

popover > list,
popover > .view,
popover.background > list {
    border-style: none;
    background-color: transparent;
}

popover separator {
    border: 0;
    color: alpha(currentColor, 0.5);
    background-color: transparent;
    font-size: 80%;
    font-weight: bold;
}

popover.background popover.background {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

popover.background:backdrop {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_bg_color;
    box-shadow: none;
}

/* notebook */
notebook {
    padding: 0;
}

notebook.frame {
    border-width: 1px;
    border-style: solid;
    border-color: @borders
}

notebook > header {
    margin: -1px;
    background-color: @theme_bg_color;
}

notebook > stack:not(:only-child) {
    background-color: @theme_base_color;
    background-color: Transparent;
}

notebook > stack {
    background-color: @theme_base_color;
    background-color: Transparent;
}

notebook tab {
    padding: 6px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: @theme_fg_color;
    background-color: @theme_bg_color; }

notebook tab:checked {
    border-color: @borders;
    background-color: @theme_base_color;
}

notebook tab:backdrop {
    background-color: @theme_unfocused_bg_color; }

notebook tab:checked:backdrop {
    border-color: @unfocused_borders;
    background-color: @theme_unfocused_base_color; }

notebook > header.top {
    padding-top: 2px;
    box-shadow: 0 1px @borders; }

notebook > header.bottom {
    box-shadow: 0 -1px @borders; }

notebook > header.right {
    box-shadow: -1px 0 @borders; }

notebook > header.left {
    box-shadow: 1px 0 @borders; }

notebook > header.top > tabs > tab {
    border-bottom: none; }

notebook > header.top > tabs > tab:checked {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -1px; }

notebook > header.bottom > tabs > tab {
    border-top: none; }

notebook > header.bottom > tabs > tab:checked {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: -1px; }

notebook > header.left > tabs > tab {
    border-right: none; }

notebook > header.left > tabs > tab:checked {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -1px; }

notebook > header.right > tabs > tab {
    border-left: none; }

notebook > header.right > tabs > tab:checked {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -1px; }

/* close button styling */
notebook tab button,
notebook tab button:hover,
notebook tab button:focus,
notebook tab button:active,
notebook tab button:checked,
notebook tab button:active:hover,
notebook tab button:checked:hover,
notebook tab button:backdrop,
notebook tab:checked button,
notebook tab:checked button:hover,
notebook tab:checked button:focus,
notebook tab:checked button:active,
notebook tab:checked button:checked,
notebook tab:checked button:active:hover,
notebook tab:checked button:checked:hover,
notebook tab:checked button:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: @theme_fg_color;
}

notebook > header.top > tabs > arrow.up,
notebook > header.bottom > tabs > arrow.up {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

notebook > header.top > tabs > arrow.up:last-child,
notebook > header.bottom > tabs > arrow.up:last-child {
    margin-left: 2px;
}

notebook > header.top > tabs > arrow.down,
notebook > header.bottom > tabs > arrow.down {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

notebook > header.top > tabs > arrow.down:first-child,
notebook > header.bottom > tabs > arrow.down:first-child {
    margin-right: 2px;
}

notebook > header.left > tabs > arrow.up,
notebook > header.right > tabs > arrow.up {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

notebook > header.left > tabs > arrow.up:last-child,
notebook > header.right > tabs > arrow.up:last-child {
    margin-top: 2px;
}

notebook > header.left > tabs > arrow.down,
notebook > header.right > tabs > arrow.down {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

notebook > header.left > tabs > arrow.down:first-child,
notebook > header.right > tabs > arrow.down:first-child {
    margin-bottom: 2px;
}

notebook > header > tabs > arrow {
    color: @theme_fg_color;
}

notebook > header > tabs > arrow:hover {
    color: shade(@theme_fg_color, 1.2);
}

notebook > header > tabs > arrow:active {
    color: shade(@theme_fg_color, 0.8);
}

notebook > header > tabs > arrow:disabled {
    color: shade(@theme_bg_color, 0.6);
}

/* pane separator */

paned > separator {
    border: none;
    color: transparent;
    background-color: @borders;
}

paned separator.wide {
    min-width: 16px;
    min-height: 8px;
    background-image: None;
    background-color: Transparent;
}

paned > separator:selected {
    background-color: @borders;
}

paned .sidebar.left,
paned .sidebar.right,
paned .sidebar.left:dir(rtl),
paned .sidebar:dir(rtl),
paned .sidebar:dir(ltr),
paned .sidebar {
    border-style: none;
}

/* over under */
overshoot.top {
    background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(alpha(@color_shadow, 0.2)), to(transparent));
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    border: none;
    box-shadow: none; }

overshoot.bottom {
    background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(alpha(@color_shadow, 0.2)), to(transparent));
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    border: none;
    box-shadow: none; }

overshoot.left {
    background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(alpha(@color_shadow, 0.2)), to(transparent));
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    border: none;
    box-shadow: none; }

overshoot.right {
    background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(alpha(@color_shadow, 0.2)), to(transparent));
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
    border: none;
    box-shadow: none; }


undershoot.top {
    background-color: transparent;
    background-image: linear-gradient(to left, alpha(@light_shadow, 0.2) 50%, alpha(@dark_shadow, 0.2) 50%);
    padding-top: 1px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-origin: content-box;
    background-position: center top; }

undershoot.bottom {
    background-color: transparent;
    background-image: linear-gradient(to left, alpha(@light_shadow, 0.2) 50%, alpha(@dark_shadow, 0.2) 50%);
    padding-bottom: 1px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-origin: content-box;
    background-position: center bottom; }

undershoot.left {
    background-color: transparent;
    background-image: linear-gradient(to top, alpha(@light_shadow, 0.2) 50%, alpha(@dark_shadow, 0.2) 50%);
    padding-left: 1px;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position: left center; }

undershoot.right {
    background-color: transparent;
    background-image: linear-gradient(to top, alpha(@light_shadow, 0.2) 50%, alpha(@dark_shadow, 0.2) 50%);
    padding-right: 1px;
    background-size: 1px 10px;
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position: right center; }

/* scrollbar */
scrollbar {
    border: none;
    background-color: shade(@theme_bg_color, 0.9); }

scrollbar trough {
    border: none;
    border-radius: 0; }

scrollbar:backdrop {
    background-color: shade(@theme_unfocused_bg_color, 0.9); }

scrollbar slider {
    min-width: 8px;
    min-height: 8px;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 12px;
    background-clip: padding-box;
    background-color: shade(@theme_bg_color, 0.6); }

scrollbar slider:hover {
    background-color: shade(@theme_bg_color, 0.6); }

scrollbar slider:hover:active {
    background-color: shade(@theme_bg_color, 0.55); }

scrollbar slider:backdrop {
    background-color: shade(@theme_bg_color, 0.55); }

scrollbar slider:disabled {
    background-color: transparent; }

scrollbar.fine-tune slider {
    min-width: 6px;
    min-height: 6px; }

scrollbar.fine-tune.horizontal slider {
    border-width: 3px; }

scrollbar.fine-tune.vertical slider {
    border-width: 3px; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    border: none;
    opacity: 0.7;
    margin: 0;
    background-color: transparent; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
    margin: 0;
    min-width: 1px;
    min-height: 1px;
    background-color: shade(@theme_bg_color, 0.6);
    border: 2px solid transparent; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
    margin: 0;
    min-width: 40px; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
    margin: 0;
    min-height: 40px; }

scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
    opacity: 1; }

scrollbar.horizontal slider {
    min-width: 40px; }

scrollbar.vertical slider {
    min-height: 40px; }

scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-right-symbolic"); }

scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-left-symbolic"); }

treeview ~ scrollbar.vertical {
    border-top: 1px solid @borders;
    margin-top: -1px; }

/* separator */
separator {
    -gtk-icon-source: none;
    background-color: @borders;
    min-width: 1px;
    min-height: 1px;
}

separator:backdrop {
    background-color: @unfocused_borders;
}

combobox separator {
    border: none;
}

/* spinbutton */
spinbutton:not(.vertical) selection:focus,
spinbutton:not(.vertical) selection {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

spinbutton.horizontal entry {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 7px 15px; }

spinbutton.horizontal button.down {
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0; }

spinbutton.horizontal button.up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

spinbutton.vertical entry {
    border-radius: 0; }

spinbutton.vertical button.up {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0; }

spinbutton.vertical button.down {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

/* spinner */
@keyframes spin {
    to {
        -gtk-icon-transform: rotate(1turn); } }

spinner {
    background: none;
    opacity: 0;
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }

spinner:checked:disabled {
    opacity: 0.5; }

/* switch */
switch {
    font-size: 0;
    outline-offset: -4px;
    margin: 4px;
    border: 1px solid @borders;
    border-radius: 16px;
    background-color: @borders;
}

switch:checked {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color; }

switch:disabled {
    border-color: @theme_disabled_bg_color;
    background-color: @theme_disabled_bg_color; }

switch:backdrop {
    border-color: @unfocused_borders;
    background-color: @theme_unfocused_bg_color; }

switch:backdrop:checked {
    border-color: @theme_unfocused_selected_bg_color;
    background-color: @theme_unfocused_selected_bg_color; }

switch slider {
    min-width: 20px;
    min-height: 20px;
    border: none;
    border-radius: 100%;
    color: @theme_fg_color;
    background-color: @theme_base_color; }

switch:disabled slider {
    background-color: mix(@theme_base_color, @theme_disabled_bg_color, 0.5); }

switch:backdrop slider {
    background-color: @theme_unfocused_base_color; }

switch:disabled:backdrop slider {
    background-color: mix(@theme_unfocused_disabled_bg_color, @theme_unfocused_base_color, 0.5); }

/* textview */
textview {
    color: @theme_text_color;
    background-color: @theme_base_color;
}

textview text:selected,
textview text selection,
textview text:selected:focus,
textview text selection:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

/* color chooser */
colorswatch.top {
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px; }

colorswatch.top overlay {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }

colorswatch.bottom {
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px; }

colorswatch.bottom overlay {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }

colorswatch.left, colorswatch:first-child:not(.top) {
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px; }

colorswatch.left overlay, colorswatch:first-child:not(.top) overlay {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }

colorswatch.right, colorswatch:last-child:not(.bottom) {
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px; }

colorswatch.right overlay, colorswatch:last-child:not(.bottom) overlay {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

colorswatch.dark overlay {
    color: alpha(@light_shadow, 0.7); }

colorswatch.dark overlay:hover {
    border-color: alpha(@dark_shadow, 0.5); }

colorswatch.light overlay {
    color: alpha(@light_shadow, 0.7); }

colorswatch.light overlay:hover {
    border-color: alpha(@dark_shadow, 0.3); }

colorswatch overlay {
    border: 1px solid alpha(@dark_shadow, 0.15); }

colorswatch overlay:hover {
    background-color: alpha(@light_shadow, 0.2); }

colorswatch:disabled {
    opacity: 0.5; }

colorswatch:disabled overlay {
    border-color: alpha(@dark_shadow, 0.6);
    box-shadow: none; }

colorchooser #add-color-button {
    background-clip: padding-box;
    border-color: alpha(@dark_shadow, 0.1);
    background-color: shade(@theme_bg_color, 0.95);
    color: @theme_fg_color; }

colorchooser #add-color-button:hover {
    border-color: alpha(@dark_shadow, 0.3);
    background-color: shade(@theme_bg_color, 0.90);
    color: @theme_fg_color; }

colorchooser .popover.osd {
    border-radius: 3px;
}

/* tooltip */
tooltip {
    border-radius: 0px;
    box-shadow: none;
}

tooltip.background {
    border-width: 1px;
    border-style: solid;
    border-color: @nagato_highlight_fg_color;
    background-color: @nagato_highlight_bg_color;
}

tooltip.background label {
    padding: 1px;
}

tooltip * {
    background-color: transparent;
    color: @nagato_highlight_fg_color;
}

tooltip decoration {
    border-radius: 0px;
    box-shadow: 0 1px 3px 1px alpha(@dark_shadow, 0.1);
}

/* treeview */
treeview {
    -treeview-vertical-separator: 0;
}

treeview.view:selected:focus,
treeview.view:selected {
    color: @nagato_highlight_fg_color;
    background-color: @nagato_highlight_bg_color;
}

/* treeview header */
treeview header button {
    border-width: 0 1px 1px 0;
    border-radius: 0;
}

treeview header button,
treeview header button:active,
treeview header button:focus,
treeview header button:active:focus {
    color: @nagato_secondary_fg_color;
    background-color: @nagato_secondary_bg_color;
}

treeview header button:hover,
treeview header button:active:hover,
treeview header button:hover:focus,
treeview header button:active:hover:focus {
    color: @nagato_highlight_fg_color;
    background-color: @nagato_highlight_bg_color;
}

treeview header:last-child button {
    border-width: 0 0 1px 0;
}
